/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--page-font-family: "IBM Plex mono", monospace;
--color-accent: #DB00FF;
--color-bright: #FF0070;
--color-light: #F1B2CE;
--color-dark: #000028;
--color__decoration: var(--color-bright,#FF0070);
--color__tittle: var(--color-accent, #DB00FF);
--color__question: var(--color-bright, #FF0070);
--color__answer-tittle: var(--color-dark, #000028);
--color__answer-text: var(--color-light, #F1B2CE);
--background-image: url('../images/cover-image-dark.png');
--rec-visibility: visible;
}